@{
    ViewBag.Title = "About";
}
<section class="nomargin nopadding"></section><!--Buffer for header-->

<!-- Main Image
============================================= -->
<section id="slider" class="boxed-slider swiper_wrapper nopadding clearfix">
    <div class="slider-parallax-inner full_Height">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url('../../Content/images/slider/boxed/4.jpg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">About Us</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Where quality care &amp; wellness are our standards.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Our  Story
============================================= -->
<section id="sectionOurStory">
    <div class="section nomargin toppadding-sm bottompadding-sm clearfix">
        <div class="container">
            <div class="col_full dark-blue-text text-justify">

                <div class="heading-block fancy-title nobottomborder title-bottom-border center">
                    <h3>Our <span>Story</span>.</h3>
                </div>
                <div class="text-justify">
                    <p>
                        Therapist owned and operated. We are driven to provide client centered rehabilitative services. Over the past fourteen years while working with some of the larger rehab companies in the industry, two things stood out to me that needed to change: Customer Service and Accessibility.
                        Far to often both are lost with most rehabilitation cooperations!
                    </p>
                </div>
                <div class="col_two_third nobottommargin">
                    <p class="">
                        I have found that you are sold on being a priority only to find that your contractors priority is for them selves and their share holders. We are Therapist owned and operated with no shareholders to answer too. We truly are your partner.  Living well rehabilitation is the right choice for you; If you find your self in a position of frustration with lack of quality staffing, limited feed back, lack of interaction with the owners of your contract company then its time for you to start Living well.
                    </p>
                    <p>
                        At well rehab! You are are partner, our client and your residents are our inspiration! Your facility will have a dedicated team assigned to meet any and all of your needs with me the owner available 24/7 to answer your questions and resolve any concerns you may have!
                    </p>
                    <p>
                        I have spent the better part of fourteen years hearing and watching the frustrations of administrators with their rehab companies,  Sadly they make promises that they just do not keep. They say promises are made to be broken, this is why we at Living well we do not make promises, rather we make a pledges.  A pledge of personalized customer service!  
                        Service that you will find unparraled in the industry. You will always reach the owner operator because your partnership matters. 
                    </p>
                </div>
                <div class="col_one_third norightmargin">
                    <img src="~/Content/images/temp/8506367.jpg" />
                </div>
                <div class="col_full">
                    <p>
                        You matter. We at Living Well rehab are your resource not your frustration.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Our Team
============================================= -->
<section id="content" style="margin-bottom: 0px;">

    <div class="content-wrap toppadding-sm bottompadding-sm">

        <div class="container clearfix">

            <div class="col_full">

                <div class="heading-block fancy-title nobottomborder title-bottom-border center">
                    <h3>Our <span>Team</span>.</h3>
                    <span>Our Team Members who have contributed immensely to our Growth</span>
                </div>

            <div class="row clearfix">

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="../../Content/images/team/3.jpg" alt="Peter Kelly">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Peter Kelly</h4><span>CEO</span></div>
                            <div class="team-content">
                                <p>Peter Kelly has done a lot of things in his life. For example, hes amazing at putting together swing sets and picking up cigarette butts.</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="../../Content/images/team/8.jpg" alt="Erica Lhulier">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Erica Lhulier</h4><span>Co-Founder</span></div>
                            <div class="team-content">
                                <p>Erica is super amazing at anything and everything she does. Her certifications include Facebook Stalking + (FS+), Instagram Scrolling (IS), and has a doctorate in celebraory gifting services (BDAY).</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="../../Content/images/team/8.jpg" alt="Jennifer Kelly">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Jennifer Kelly</h4><span>Sales</span></div>
                            <div class="team-content">
                                <p>Familar in the ways of Dale; Jennifer has been sole person responsible for keeping Amazon afloat from 2013 to present day.  When asked about the summer of 2016, she'll politely reply "What summer?"</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 bottommargin">
                    <div class="team team-list clearfix">
                        <div class="team-image">
                            <img src="../../Content/images/team/4.jpg" alt="Braydon Kelly">
                        </div>
                        <div class="team-desc">
                            <div class="team-title"><h4>Braydon Kelly</h4><span>Support</span></div>
                            <div class="team-content">
                                <p>As Chief Lego Engineer, Braydon Kelly has done more for the Garbage Gang community in the past year than the entire Philadelphia Waste Collectino department.</p>
                            </div>
                            <a href="#" class="social-icon si-rounded si-small si-light si-facebook">
                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="#" class="social-icon si-rounded si-small si-light si-gplus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="section topmargin-sm footer-stick">

            <h4 class="uppercase center">What <span>Clients</span> Say?</h4>

            <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                <div class="flexslider" style="height: 227px;">
                    <div class="slider-wrap">
                        <div class="slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                            <div class="testi-image">
                                <a href="#"><img src="../../Content/images/testimonials/3.jpg" alt="Customer Testimonails" draggable="false"></a>
                            </div>
                            <div class="testi-content">
                                <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                                <div class="testi-meta">
                                    Steve Jobs
                                    <span>Apple Inc.</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                            <div class="testi-image">
                                <a href="#"><img src="../../Content/images/testimonials/2.jpg" alt="Customer Testimonails" draggable="false"></a>
                            </div>
                            <div class="testi-content">
                                <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                <div class="testi-meta">
                                    Collis Ta'eed
                                    <span>Envato Inc.</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                            <div class="testi-image">
                                <a href="#"><img src="../../Content/images/testimonials/1.jpg" alt="Customer Testimonials" draggable="false"></a>
                            </div>
                            <div class="testi-content">
                                <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                                <div class="testi-meta">
                                    John Doe
                                    <span>XYZ Inc.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li></ol>
                </div>
            </div>

        </div>

    </div>

    </div>
</section>