@{
    ViewBag.Title = "Living Well Rehabilitation";
}

<!-- Main Carousel
============================================= -->
<section id="slider" class="slider-parallax swiper_wrapper clearfix">
    <div class="swiper_wrapper_large_height">
        <div class="slider-parallax-inner">

            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper swiper_wrapper_full_height">
                    <div class="swiper-slide dark main-image-home">
                        <div class="container clearfix">
                            <div class="slider-caption slider-caption-center">
                                <h2 data-caption-animate="fadeInUp">Welcome to Living Well Rehab</h2>
                                <p data-caption-animate="fadeInUp" data-caption-delay="200">Where quality care &amp; wellness are our standards.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


<!-- Content
============================================= -->
<section id="content">
    <div class="container red-divider"></div>
    


    <!-- Services
    ============================================= -->
    
    <div class="container text-justify topmargin-sm bottommargin-sm clearfix">   
        <div class="section-block topmargin bottommargin center">
            <div class="section-title dark-grey-text">
                <h3 class="col_full bottompadding-sm">What We Do</h3>
            </div>
        </div>
        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="~/Content/images/temp/staff_outdoors.png" alt="Why choose Us?">
                </div>
                <div class="fbox-desc dark-grey-text service_Description">
                    <h3 class="">Team Reliability</h3><h5><span class="subtitle">Available to you when you need us!</span></h5>
                    <p class="dark-blue-text">We are your staffing and consultation solution! You will always talk to the owner to ensure that your expectations are exceeded.</p>
                </div>
            </div>
            <div class="center">
            </div>
        </div>

        <div class="col_one_third nobottommargin">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="~/Content/images/temp/nurse_helping_patient.png" alt="">
                </div>
                <div class="fbox-desc dark-grey-text service_Description">
                    <h3 class="">Personalized Customer Services</h3><h5><span class="subtitle">Your source for solutions</span></h5>
                    <p class="dark-blue-text">We are your partner. Our team well believes in collaborations personalized to meet your current and future needs.</p>
                </div>
            </div>
            <div class="center">
            </div>
        </div>

        <div class="col_one_third nobottommargin col_last">
            <div class="feature-box media-box">
                <div class="fbox-media">
                    <img src="~/Content/images/temp/nurse_helping_patient02.png" alt="What We Do?">
                </div>
                <div class="fbox-desc dark-grey-text service_Description">
                    <h3 class="">Our Mission</h3><h5><span class="subtitle">It's in our name</span></h5>
                    <p class="dark-blue-text"> We strive to provide the highest quality Physical, Occupational and Speech Therapy staff to assist our residents to live well!</p>
                </div>
            </div>
            <div class="center">
            </div>
        </div>

        <div class="center">
        </div>



    </div>


    <!-- About Us
    ============================================= -->
    <div class="section nomargin">
        <div class="col_full notoppadding nobottompadding nobottommargin">
            <div class="col_one_eighth"></div>
            <div class="section popout-block">
                <img class="block-image" src="~/Content/images/temp/Nurse-Happy-hold-stethoscope.png">
                    <div class="popout-block-info">
                        <div class="section-block bottommargin-sm center">
                            <div class="section-title">
                                <h3 class="col_full topmargin bottompadding-sm">Who We Are</h3>
                            </div>    
                                                        
                            <p class="popout-block-desc">Therapist owned and operated. Living Well is driven and dedicated to 
                                provide client centered Physical, Occupational and Speech rehabilitative excellence.
                            </p>

                            <div class="popout-block-button center">
                                @Html.ActionLink("About Us", "Services", "Home", new { @class = "button button-default-background button-xlarge topmargin nobottommargin" })
                            </div>
                        </div>

                    </div>
            </div>

            <div class="col_one_eighth col_last"></div>
        </div>
    </div>




    <!-- Free Analysis
    ============================================= -->
    <div class="nopadding container clearfix">
        <div class="section-block topmargin bottommargin center">
            <div class="section-title dark-grey-text">
                <h3 class="col_full bottompadding-sm">Let's Get Started</h3>
            </div>
        </div>

        <div class="col_half nobottommargin">
            <form id="template-analysis-form" name="template-analysis-form" method="post" role="form" novalidate="novalidate" class="allpadding-sm analysis-form">

                <div class="form-process"></div>

                <div class="col_half">
                    <label for="template-analysis-fname" class="dark">First Name <small>*</small></label>
                    <input type="text" id="template-analysis-fname" name="template-analysis-fname" value="" class="sm-form-control required" aria-required="true">
                </div>

                <div class="col_half col_last">
                    <label for="template-analysis-lname" class="dark">Last Name <small>*</small></label>
                    <input type="text" id="template-analysis-lname" name="template-analysis-lname" value="" class="sm-form-control required" aria-required="true">
                </div>

                <div class="clear"></div>

                <div class="col_full">
                    <label for="template-analysis-community-name" class="dark">Community Name</label>
                    <input type="text" id="template-analysis-community-name" name="template-analysis-community-name" value="" class="sm-form-control">
                </div>

                <div class="col_half">
                    <label for="template-analysis-address-one" class="dark">Community Address One</label>
                    <input type="text" id="template-analysis-address-one" name="template-analysis-address-one" value="" class="sm-form-control">
                </div>

                <div class="col_one_fourth">
                    <label for="template-analysis-address-two" class="dark">Address Two</label>
                    <input type="text" name="template-analysis-address-two" id="template-analysis-address-two" value=""  class="sm-form-control">
                </div>

                <div class="col_one_fourth col_last">
                    <label for="template-analysis-city" class="dark">City</label>
                    <input type="text" name="template-analysis-city" id="template-analysis-city" value="" class="sm-form-control">
                </div>

                <div class="col_one_sixth">
                    <label for="template-analysis-state" class="dark">State</label>
                    <input type="text" name="template-analysis-state" id="template-analysis-state" value="" class="sm-form-control">
                </div>

                <div class="col_one_sixth">
                    <label for="template-analysis-postal-code" class="dark">Zip</label>
                    <input type="text" name="template-analysis-postal-code" id="template-analysis-postal-code" value="" class="sm-form-control">
                </div>

                <div class="col_one_third">
                    <label for="template-analysis-phone" class="dark">Phone</label>
                    <input type="tel" name="template-analysis-phone" id="template-analysis-phone" value="" class="sm-form-control">
                </div>

                <div class="col_one_third col_last">
                    <label for="template-analysis-email" class="dark">Email <small>*</small></label>
                    <input type="email" name="template-analysis-email" id="template-analysis-email" value="" class="sm-form-control email required" aria-required="true">
                </div>

                <div class="col_full">
                    <label for="template-analysis-message" class="dark">Message</label>
                    <textarea type="email" name="template-analysis-message" id="template-analysis-message" value="" class="sm-form-control" rows="6"></textarea>
                </div>
                <div class="clear"></div>


                <div class="col_full">
                    <button onclick="analysisSubmissionClick(); return false;"  class="button button-3d button-large btn-block nomargin" name="template-analysis-apply">Schedule Analysis</button>
                </div>

            </form>
        </div>


        <div class="col_half bottommargin-sm col_last">

            <p class="thin-text dark-blue-text" style="font-size:4vh; text-align:justify">
                Living Well Rehabilitation promotes a unique approach to care by using the latest advancements in rehabilitation and nursing care.
                Our solutions ensure that you will no longer need to concern yourself with rising staff costs,
                staffing coverage, or lost revenue.  Allow us to evolve your rehab department to excellence!
            </p>

        </div>

    </div>


    <!-- Call Us
    ============================================= -->
    <div class="section content-wrap nomargin toppadding-sm bottompadding-sm">
        <div class="container clearfix">
            <div class="promo nopadding center">
                <div class="container clearfix">
                    <h3>Call us today at 215.123.4567 or Email us at support@livingwellrehab.com</h3>
                    <span>We strive to provide our patients with top notch support and care.</span>
                    @*<a href="#" class="button button-xlarge"><span>Browse Now</span></a>*@
                </div>
            </div>
        </div>
    </div>
</section><!-- #content end -->