
@{
    ViewBag.Title = "Services";
}
<section class="nomargin nopadding"></section><!--Buffer for header-->
<!-- Main Image
============================================= -->
<section id="slider" class="boxed-slider swiper_wrapper nopadding clearfix" hidden="hidden">
    <div class="slider-parallax-inner full_Height">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url('../../Content/images/slider/boxed/4.jpg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">Services</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Where quality care &amp; wellness are our standards.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Services Overview
    ============================================= -->
<section id="content">
    <div class="container text-justify topmargin-sm bottommargin-sm clearfix">

        <div class="allpadding-sm container notopmargin nobottommargin clearfix">


            <div class="col_half nobottommargin">
                <div id="analysis-apply" class="section-block bottommargin-sm blue-text">
                    <h1>What we can do</h1>
                </div>
                <p class="lead dark-blue-text">Living Well offers a continuum of care to our residents. Our resident-centerd care, financial reimbursement expertise, and outcome operations cannot be matched. </p>
            </div>


            <div class="col_one_third bottommargin-sm col_last">
                <img src="~/Content/images/temp/temp_thumbs_up.jpg" alt="iphone 2">
            </div>
            <div class="col_one_sixth"></div>

        </div>
    </div>
</section>