@{
    ViewBag.Title = "Contact Us";
}

<section class="nomargin nopadding"></section><!--Buffer for header-->
<!--Page Title-->
<section id="page-title">

    <div class="container clearfix">
        <h1>Contact</h1>
        <span>Get in Touch with Us</span>

    </div>
</section>

<!--Content -->
<section id="content" style="margin-bottom: 0px;">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Contact Form
            ============================================= -->
            <div class="col_full">

                <div class="fancy-title title-dotted-border">
                    <h3>Send us an Email</h3>
                </div>

                <div class="contact-widget col_half">

                    <div class="contact-form-result"></div>

                    <form class="nobottommargin" id="template-contactform" name="template-contactform" action="include/sendemail.php" method="post" novalidate="novalidate">

                        <div class="form-process"></div>

                        <div class="col_one_third">
                            <label for="template-contactform-name">Name <small>*</small></label>
                            <input type="text" id="template-contactform-name" name="template-contactform-name" value="" class="sm-form-control required" aria-required="true">
                        </div>

                        <div class="col_one_third">
                            <label for="template-contactform-email">Email <small>*</small></label>
                            <input type="email" id="template-contactform-email" name="template-contactform-email" value="" class="required email sm-form-control" aria-required="true">
                        </div>

                        <div class="col_one_third col_last">
                            <label for="template-contactform-phone">Phone</label>
                            <input type="text" id="template-contactform-phone" name="template-contactform-phone" value="" class="sm-form-control">
                        </div>

                        <div class="clear"></div>

                        <div class="col_two_third">
                            <label for="template-contactform-subject">Subject <small>*</small></label>
                            <input type="text" id="template-contactform-subject" name="template-contactform-subject" value="" class="required sm-form-control" aria-required="true">
                        </div>

                        <div class="col_one_third col_last">
                            <label for="template-contactform-service">Services</label>
                            <select id="template-contactform-service" name="template-contactform-service" class="sm-form-control">
                                <option value="">-- Select One --</option>
                                <option value="OccupationalTherapy">Occupational Therapy</option>
                                <option value="PhysicalTherapy">Physical Therapy</option>
                                <option value="SpeechTherapy">Speech Therapy</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div class="clear"></div>

                        <div class="col_full">
                            <label for="template-contactform-message">Message <small>*</small></label>
                            <textarea class="required sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30" aria-required="true"></textarea>
                        </div>

                        <div class="col_full hidden">
                            <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control">
                        </div>

                        <div class="col_full">
                            <button onclick="contactRequestClick(); return false;" class="button button-3d button-large btn-block nomargin" name="template-analysis-apply">Send</button>
                        </div>

                    </form>
                </div>

                <!-- Google Map
    ============================================= -->
                <div class="col_half col_last">
                    <div id='myMap' class="geo-location-map"></div>
                    <script type='text/javascript'>
                        function loadMapScenario() {
                            var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
                                /* No need to set credentials if already passed in URL */
                                center: new Microsoft.Maps.Location(40.168354, -75.125475)
                            });
                            var center = map.getCenter();
                            var infobox = new Microsoft.Maps.Infobox(center, {
                                title: 'Living Well Rehabilitation',
                                description: '3805 Mill Rd., Pa, 19090'
                            });
                            infobox.setMap(map);

                        }


                    </script>
                    @*<script type='text/javascript' src='http://dev.virtualearth.net/REST/v1/Locations?CountryRegion=US&adminDistrict=PA&locality=Willow%20Grove&postalCode=19090&addressLine=3805%20Mill%20Rd.&key=hIc6rZTSwXIryWymK8OE~WOcU7lC-N_8Pk982iGKXbA~AoJfqbbpgAtHUSkupK56vkR5TXDiB_K8V8vNo6AkdiixcRKdZ83atBW4P00x_u6i&callback=loadMapScenario' async defer></script>*@

                    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?key=hIc6rZTSwXIryWymK8OE~WOcU7lC-N_8Pk982iGKXbA~AoJfqbbpgAtHUSkupK56vkR5TXDiB_K8V8vNo6AkdiixcRKdZ83atBW4P00x_u6i&callback=loadMapScenario' async defer></script>

                </div><!-- Google Map End -->

            </div><!-- Contact Form End -->

            <div class="clear"></div>

            <!-- Contact Info
            ============================================= -->
            <div class="row clear-bottommargin">

                <div class="col-md-3 col-sm-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-map-marker2"></i></a>
                        </div>
                        <h3>Our Headquarters<span class="subtitle">Philadelphia, Pennsylvania</span></h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-phone3"></i></a>
                        </div>
                        <h3>Speak to Us<span class="subtitle">215.123.4567</span></h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-skype2"></i></a>
                        </div>
                        <h3>Make a Video Call<span class="subtitle">LivingWellOnSkype</span></h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 bottommargin clearfix">
                    <div class="feature-box fbox-center fbox-bg fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-twitter2"></i></a>
                        </div>
                        <h3>Follow on Twitter<span class="subtitle">2.3M Followers</span></h3>
                    </div>
                </div>

            </div><!-- Contact Info End -->

        </div>

    </div>

</section>