@{
    ViewBag.Title = "What We Do";
}
<section class="nomargin nopadding"></section><!--Buffer for header-->
<!-- Main Image
============================================= -->
<section id="slider" class="boxed-slider swiper_wrapper nopadding clearfix">
    <div class="full_Height">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url('../../Content/images/temp/nurse_smile001.png');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">What we do</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Where quality care &amp; wellness are our standards.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Services Overview
============================================= -->

<section id="content">
    <div class="container text-justify topmargin-sm bottommargin-sm clearfix">

        <div class="section-block topmargin bottommargin center">
            <div class="section-title dark-grey-text">
                <h3 class="col_full bottompadding-sm">Living Well Services</h3>
            </div>
        </div>

        <div class="col_full notoppadding nobottompadding nobottommargin">
            <div class="col_one_eighth"></div>
            <div class="section popout-block">
                <img class="block-image" src="~/Content/images/temp/nusringworkforce_Large.png">
                <div class="popout-block-info">
                    <div class="section-block bottommargin-sm center">
                        <div class="section-title">
                            <h3 class="col_full topmargin bottompadding-sm">Who We Are</h3>
                        </div>





                        <p class="popout-block-desc">
                            We are committed to deliver on our promise of the best clinical care to the residents we serve. Our team has the experience and adaptability to
                            excel in the regulatory and reimbursement systems in which we operate.
                        </p>
                        <div class="popout-block-button center">
                            <a href="#" class="button button-default-background button-xlarge topmargin nobottommargin side-panel-trigger">Partner With Us</a>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>

    <div class="">
        <div class="section col_full notoppadding nobottompadding nobottommargin">
            <div class="col_one_eighth"></div>
            <div class="col_three_fourth nobottommargin">
                <div class="col_half nobottommargin">
                    <div class="section-block topmargin bottommargin center">
                        <div class="section-title dark-grey-text">
                            <h2 class="col_full bottompadding">Clinical Care</h2>
                        </div>
                    </div>
                    <p class="col_full lead dark-blue-text" style="text-align:justify">
                        Clinical care requires continuous education, capable administration, and the technology necessary to achieve the desired results.
                        Our teamis committed to delivering outcomes that bring nothing less than satisfaction.
                    </p>

                    <p class="col_full lead dark-blue-text" style=" text-align:justify">
                        A few of Living Well's Resident-Centered Care Programs consist of:
                        <div class="col_one_eighth"></div>
                        <ul class="col_five_sixth lead dark-blue-text" style="list-style:inside">
                            <li>Dementia Training</li>
                            <li>Incontinenct Management</li>
                            <li>Restorative Nursing</li>
                            <li>Activity Daily Living (ADL) Retraining</li>
                            @*<li>Outpatient Services</li>
                                <li>Community Re-integrations</li>
                                <li>Seating and Positioning</li>
                                <li>Therapeutic Aquatics</li>
                                <li>Cognitive Retraining</li>
                                <li>Home Safety Assessments</li>*@
                        </ul>
                    </p>
                </div>
                <div class="col_half col_last nobottommargin">
                    <img class="stretchImage" src="../../Content/images/temp/nurse_clipboard_NoBG02.png" />
                </div>

            </div>
            <div class="col_one_eighth col_last"></div>
        </div>
    </div>

    <div class="">
        <div class="col_full notoppadding nobottompadding">
            <div class="col_one_eighth"></div>
            <div class="col_three_fourth">
                <div class="col_half">
                    <img class="stretchImage" src="../../Content/images/temp/generic_graph_up.png" />
                </div>
                <div class="col_half col_last">
                    <div class="section-block topmargin bottommargin center">
                        <div class="section-title dark-grey-text">
                            <h2 class="col_full bottompadding">Innovation</h2>
                        </div>
                    </div>
                    <p class="col_full lead dark-blue-text" style="text-align:justify">
                        Team members have access to customizable, real-time reports that allow for better tracking and analysis. With
                        interfacing softwares such as Casamba and Optima, clients have unlimited access to therapy documentaion.
                    </p>
                    <div class="center" style="font:2.5vh;">
                        <a href="#" class="button button-default-background button-xlarge topmargin noleftmargin norightmargin side-panel-trigger">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col_one_eighth"></div>
        </div>
    </div>

    <div class="">

    </div>
</section>

