@model LivingWellMVC.ViewModels.BaseViewModel

@{
    ViewBag.Title = "What We Do";
}
<section class="nomargin nopadding"></section><!--Buffer for header-->
<!-- Main Image
============================================= -->
<section id="slider" class="boxed-slider swiper_wrapper nopadding clearfix">
    <div class="swiper_wrapper_med_height">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark main-image-services">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h1 data-caption-animate="fadeInUp">What we do</h1>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Learn why we're the best solution for you and your team!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- #main image end-->


<!-- Services Overview
============================================= -->

<div id="content" class="bottomgreyborder">
    <div class="container red-divider"></div>

    <div class="text-justify topmargin-sm bottommargin-sm clearfix">

        <div class="section-block topmargin bottommargin center">
            <div class="section-title dark-grey-text">
                <h3 class="col_full bottompadding-sm">Living Well Services</h3>
            </div>
        </div>

        <div class="col_full notoppadding nobottompadding nobottommargin">
            <div class="col_one_eighth"></div>
            <div class="section popout-block">
                <img class="block-image" src="~/Content/images/temp/nusringworkforce_Large.png">
                <div class="popout-block-info">
                    <div class="section-block bottommargin-sm center">
                        <div class="section-title">
                            <h3 class="col_full topmargin bottompadding-sm">Who We Are</h3>
                        </div>
                        <div>
                            <p class="popout-block-desc">
                                We are committed to deliver on our promise of the best clinical care to the residents we serve. 
                                Click below to learn more about us and what we can do for you!
                            </p>
                        </div>
                        <div class="popout-block-button center">
                            <a href="#" class="button button-default-background button-xlarge topmargin-sm nobottommargin side-panel-trigger">Partner With Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- #services overview end-->


<!-- Services Statement
============================================= -->

<section id="content" class="bottomgreyborder">
    <div class="nopadding container clearfix">
        <div class="container">
            <div class="col_full text-justify nobottommargin">
                <div class="header-blurb-container">
                    <h2 class="thin-text center">Our team has the experience and adaptability to excel in the regulatory and reimbursement systems in which we operate.</h2>
                </div>
            </div>
        </div>
    </div>
</section><!-- #statement end-->


<!-- Services Listings
============================================= -->

<section id="content" class="bottomgreyborder">
    <div class="col_full notoppadding nobottompadding nobottommargin">
        <div class="col_one_eighth"></div>
        <div class="col_three_fourth nobottommargin">
            <div class="col_full nobottommargin">
                <div class="section-block topmargin bottommargin center">
                    <div class="section-title">
                        <h1 class="thin-text center">Clinical care</h1>
                    </div>
                </div>
                <h3 class="col_full thin-text center">
                    Clinical care requires continuous education, capable administration, and the technology necessary to achieve the desired results.
                    Our teamis committed to delivering outcomes that bring nothing less than satisfaction.
                </h3>

                <h3 class="col_full thin-text center bottommargin-sm">
                    A few of Living Well's Resident-Centered Care Programs consist of:
                </h3>
                <div class="nobottommargin col_one_third services-list thin-text">
                    <ul>
                        <li>Incontinence Management</li>
                        <li>Dementia Training</li>
                        <li>Restorative Nursing</li>
                        <li>Outpatient Services</li>
                        <li>Activity Daily Living (ADL) Retraining</li>
                    </ul>
                </div>
            </div>
            <div class="col_one_third services-image  nobottommargin">
                <img class="stretchImage" src="../../Content/images/temp/nurse_clipboard_NoBG02.png" />
            </div>
            <div class="col_one_third col_last services-list-right thin-text">
                <ul>
                    <li>Community Re-integrations</li>
                    <li>Seating and Positioning</li>
                    <li>Wound Care</li>
                    <li>Cognitive Retraining</li>
                    <li>Home Safety Assessments</li>
                </ul>
            </div>

        </div>         
    </div>
</section><!-- #services listings end-->

<!-- Image Divider
        ============================================= -->

@*<img src="~/Content/images/temp/hero-physical-therapy-occupational-therapy-degree.png" class="col_full" />*@

<!-- #image divider end-->

<section id="content">
    <div class="col_full topmargin-sm nobottompadding">
        <div class="col_one_eighth"></div>
        <div class="col_three_fourth">

            <div class="col_half">
                <div class="section-block topmargin bottommargin center">
                    <div class="section-title">
                        <h1 class="thin-text center">Innovation</h1>
                    </div>
                </div>
                <h3 class="col_full thin-text">
                    Team members have access to customizable, real-time reports that allow for better tracking and analysis. With
                    interfacing softwares such as Casamba and Optima, clients have unlimited access to therapy documentaion.
                </h3>
                <div class="center">
                    <a href="#" class="button button-default-background button-xlarge topmargin noleftmargin norightmargin side-panel-trigger">Learn More</a>
                </div>
            </div>

            <div class="col_half col_last nobottommargin">
                <img class="stretchImage" src="../../Content/images/temp/generic_graph_up.png" />
            </div>

        </div>
        <div class="col_one_eighth col_last nobottommargin"></div>
    </div>
</section>

 

