@model LivingWellMVC.Models.LivingWellInfo
@{
    ViewBag.Title = "About Us";
}
<section class="nomargin nopadding"></section><!--Buffer for header-->
<!-- Main Image
============================================= -->
<section id="slider" class="boxed-slider swiper_wrapper nopadding clearfix">
    <div class="swiper_wrapper_med_height">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark main-image-about-us">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">About Us</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Hear our story and see what sets us apart.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Our  Story
============================================= -->
<section id="content">
    <div class="container red-divider"></div>

    <div class="content-wrap nomargin toppadding-sm nobottompadding clearfix">
        <div class="container">
            <div class="col_full dark-blue-text text-justify nobottommargin">

                <div class="heading-block fancy-title nobottomborder title-bottom-border center">
                    <h3>Our <span style="font-weight:900">Story</span>.</h3>
                    <span>Therapist owned and operated. We are driven to provide client centered rehabilitative services.</span>

                </div>
                <div class="text-justify story-text">
                    <p>
                        Over the past fourteen years while working with some of the larger rehab companies in the industry, we've repeatedly
                        come across two things that consistently needed to change: Customer Service and Accessibility. Far to often both
                        are lost with most rehabilitation cooperations!
                    </p>
                </div>
                <div class="col_two_third nobottommargin story-text">
                    <p class="">
                        We have found that clients are sold on being a priority only to find that your contractor's priority is themselves
                        and their share holders. We are Therapists. Owned and operated with no shareholders to answer to. We truly are
                        your partners. Living Well rehabilitation is the right choice for you! If you find your self in a position of
                        frustration, in need of quality staffing, limited feed back, or lacking interaction with the owners of your contract
                        company then its time for a change. It's time for you to start Living Well.
                    </p>
                    <p>
                        You are our partner, our client and your residents are our inspiration! Your facility will have a dedicated team
                        assigned to meet any and all of your needs with the owner available 24/7 to answer your questions and resolve
                        any concerns you may have.
                    </p>
                    @*<p class="nobottommargin nobottompadding story-text">
                            We have spent the better part of fourteen years hearing and watching the frustrations of administrators with
                            their rehab companies.  Sadly, promises are made that simply are not kept. They say promises are made to be broken and
                            this is
                        </p>*@
                </div>
                <div class="col_one_third norightmargin nobottommargin">
                    <img src="~/Content/images/temp/8506367.png" />
                </div>
                <div class="col_full notopmargin notoppadding story-text">
                    <p class="notopmargin notoppadding">
                        We have spent the better part of fourteen years hearing and watching the frustrations of administrators with
                        their rehab companies.  Sadly, promises are made that simply are not kept. They say promises are made to be broken and
                        this is
                        why we at Living well we do not make promises; rather we make a pledges.  A pledge of personalized customer service!
                        Service that you will find unparalleled in the industry. You will always have access to the owner and operator
                        because your partnership matters.
                        You matter. We at Living Well rehab are your resource not your frustration.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="content" class="divider divider-short divider-border divider-center nomargin"><i class="icon-like"></i></div>

<!-- Testimonials
============================================= -->
<section id="content" style="margin-bottom: 0px;">

    <div class="content-wrap toppadding-sm nobottompadding">

        <div class="container clearfix">

            <div class="section notopmargin nobottommargin bottompadding-sm rightpadding-sm leftpadding-sm">

                <h4 class="uppercase center">What <span>Clients</span> Say?</h4>

                <div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
                    <div class="flexslider" style="height: 227px;">
                        <div class="slider-wrap">
                            <div class="slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                                @*<div class="testi-image">
                                        <a href="#"><img src="../../Content/images/testimonials/3.png" alt="Customer Testimonails" draggable="false"></a>
                                    </div>*@
                                <div class="testi-content">
                                    <p>I am impressed with the personalization of my program developed by Living Well for our facility. Superior service should be the name of their company.  As far as I am concerned Living Well rehab is the only choice to partner with!</p>
                                    <div class="testi-meta">
                                        Facility DON
                                        @*<span>Apple Inc.</span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                                @*<div class="testi-image">
                                        <a href="#"><img src="../../Content/images/testimonials/2.png" alt="Customer Testimonails" draggable="false"></a>
                                    </div>*@
                                <div class="testi-content">
                                    <p>
                                        I've found contracting with large therapy companies as a challenge. I can't tell you how easy it's been working with Living Well. Our residents feel energized and love the staff.
                                        I love the compliance training that was provided. The comprehensive in-services provided to our nursing staff for a better quality of care. Our efficiency and utilization have never been better
                                    </p>
                                    <div class="testi-meta">
                                        Facility Administrator
                                        @*<span>Envato Inc.</span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ol class="flex-control-nav flex-control-paging"></ol>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>